body {
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 30px;
    text-align: center;
}

section {
    padding: 50px 0;
}

.modal-content {
    padding: 20px;
}

.navbar-nav .nav-item .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.1rem;
    font-weight: 500;
}

ul li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .jumbotron {
        padding: 20px;
        font-size: 1rem;
    }

    h1.display-4 {
        font-size: 1.8rem;
    }

    .lead {
        font-size: 1.1rem;
    }
}
